html{
    height: 100%;
    overflow-x: hidden;
}
body{
    height: 100%;
    margin: 0;
}
/*---font---*/
@font-face{ 
    font-family: 'S-CoreDream-2Light';
    src: url('./font/S-Core_Dream_OTF/SCDream2.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-4heady';
    src: url('./font/S-Core_Dream_OTF/SCDream4.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-8heady';
    src: url('./font/S-Core_Dream_OTF/SCDream8.otf') format('OpenType');
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/*---font---*/
.top{
    font-family: 'S-CoreDream-4heady';
    font-size: 20px;
    display: block;
    color:#ffffff;
    background-color: #000000;
    padding:20px;

}
